/* body font  */
body{
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}

/* package & badge */

.hot-package{
    display: flex;
    align-items: center;
    background-color: rgb(241, 174, 174);
    padding-left: 10px;
    /* width: 292px; */
    height: 500px;
    color: rgb(31, 30, 30);
    border-radius: 20px;
}
.hot-badge{
    position: relative;
    right: -210px;
    top: -465px;
}
