/* body font  */
body{
    font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
}
.hot-package{
    display: flex;
    align-items: center;
    background-color: #3F87F5;
    padding-left: 10px;
    /* width: 292px; */
    height: 500px;
    color: white;
    border-radius: 20px;
}
.hot-badge{
    position: relative;
    right: -210px;
    top: -465px;
}